<a href="https://colab.research.google.com/github/chingyaousf/Intern-project/blob/main/DeepDEP_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
# Importing Libraries
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [68]:
# Loading the Dataset
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DeepDEP/ML_test_table.csv')
data

,DepMap_ID,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,AADAC (13) Exp,EIF2AK3 (9451) Dep,MYC (4609) Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,0.790772,0.018546,0.807414
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,0.000000,0.044907,0.999985
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,0.000000,0.009301,1.000000
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,3.547203,0.058868,0.999620
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,1.985500,0.040590,0.979828
5,ACH-000011,1.035624,0.084064,0.042644,0.014355,0.000000,3.531069,0.286881,6.093814,3.758090,0.042644,0.037510,0.995092
6,ACH-000012,2.341986,0.028569,0.070389,0.014355,0.000000,2.226509,0.000000,4.799605,5.122673,0.070389,0.083734,0.999335
7,ACH-000013,2.662205,0.028569,0.084064,0.150560,0.000000,1.298658,0.298658,5.840211,4.494416,0.454176,0.031813,0.950517
8,ACH-000014,6.058749,0.042644,6.260402,0.238787,0.042644,1.226509,0.070389,5.801159,5.118941,0.028569,0.070440,0.953548
9,ACH-000015,4.808385,0.214125,3.297191,0.000000,0.000000,1.280956,0.238787,6.420718,4.139961,0.650765,0.012443,1.000000
10,ACH-000017,3.378512,0.014355,0.163499,3.260026,0.000000,0.150560,0.014355,5.372952,4.817112,0.163499,0.046988,0.998983

In [71]:
from numpy import true_divide
# Cleaning Column Names
clean_column_names = {}
for column in data.columns:
    clean_column_names[column] = column.strip().replace(' ', '_').replace('(', '').replace(')', '')

data.rename(columns=clean_column_names, inplace=True)

data

,DepMap_ID,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,AADAC_13_Exp,EIF2AK3_9451_Dep,MYC_4609_Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,0.790772,0.018546,0.807414
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,0.000000,0.044907,0.999985
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,0.000000,0.009301,1.000000
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,3.547203,0.058868,0.999620
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,1.985500,0.040590,0.979828
5,ACH-000011,1.035624,0.084064,0.042644,0.014355,0.000000,3.531069,0.286881,6.093814,3.758090,0.042644,0.037510,0.995092
6,ACH-000012,2.341986,0.028569,0.070389,0.014355,0.000000,2.226509,0.000000,4.799605,5.122673,0.070389,0.083734,0.999335
7,ACH-000013,2.662205,0.028569,0.084064,0.150560,0.000000,1.298658,0.298658,5.840211,4.494416,0.454176,0.031813,0.950517
8,ACH-000014,6.058749,0.042644,6.260402,0.238787,0.042644,1.226509,0.070389,5.801159,5.118941,0.028569,0.070440,0.953548
9,ACH-000015,4.808385,0.214125,3.297191,0.000000,0.000000,1.280956,0.238787,6.420718,4.139961,0.650765,0.012443,1.000000
10,ACH-000017,3.378512,0.014355,0.163499,3.260026,0.000000,0.150560,0.014355,5.372952,4.817112,0.163499,0.046988,0.998983

In [4]:
# Splitting the Dataset
# features = data[['A1BG_1_Exp', 'A1CF_29974_Exp', 'A2M_2_Exp', 'A2ML1_144568_Exp', 'A3GALT2_127550_Exp', 'A4GALT_53947_Exp', 'A4GNT_51146_Exp', 'AAAS_8086_Exp', 'AACS_65985_Exp', 'AADAC_13_Exp']]
# targets = data[['EIF2AK3_9451_Dep', 'MYC_4609_Dep']]

In [72]:
# Exclude 'DepMap_ID' column
data_without_id = data.drop(columns=['DepMap_ID'])

# Extracting Features and Targets
features = data_without_id.drop(columns=[col for col in data_without_id.columns if 'Dep' in col])
targets = data_without_id[[col for col in data_without_id.columns if 'Dep' in col]]

In [27]:
# Extracting Features and Targets
# features = data.drop(columns=['DepMap_ID', 'EIF2AK3_9451_Dep', 'MYC_4609_Dep'])
# targets = data[['EIF2AK3_9451_Dep', 'MYC_4609_Dep']]

In [73]:
# Splitting the Data into Train and Test Sets
X_train, X_test, y_train, y_test = train_test_split(features, targets, test_size=0.2, random_state=42)

In [74]:
# Creating and Training the Random Forest Regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [75]:
# Making Predictions
y_pred = rf.predict(X_test)

In [76]:
# Printing Predicted Values
print('Predicted Values:', y_pred)

Predicted Values: [[0.04175911 0.96928229]
 [0.04454851 0.96899179]
 [0.03926504 0.97054913]]

In [77]:
# Evaluating the Model
# Mean Squared Error. It is a common metric used to measure the average squared difference between the predicted and actual values in regression tasks.
# Lower values of MSE indicate better model performance, as it means the predicted values are closer to the actual values. However, MSE is sensitive to outliers since the squared differences magnify their impact on the overall error.

mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.004842427798076361

In [78]:
# Mean Absolute Error (MAE) measures the average absolute difference between the predicted and actual values. It gives a straightforward measure of the average prediction error. Lower MAE values indicate better accuracy.

from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

Mean Absolute Error: 0.045651942520052446

In [79]:
# R-squared (coefficient of determination) measures the proportion of the variance in the target variable that is explained by the model. It ranges from 0 to 1

r_squared = rf.score(X_test, y_test)
print('R-squared:', r_squared)

R-squared: -1.6413973626563043

In [80]:
# Evaluating the Model

from sklearn.metrics import mean_absolute_error

mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

r_squared = rf.score(X_test, y_test)
print('R-squared:', r_squared)

Mean Squared Error: 0.004842427798076361
Mean Absolute Error: 0.045651942520052446
R-squared: -1.6413973626563043

In [81]:
# Create a new DataFrame for the test set with the predicted values
test_data = X_test.copy()
test_data['Predicted_Dep_1'] = y_pred[:, 0]
test_data['Predicted_Dep_2'] = y_pred[:, 1]

# Display
test_data

,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,AADAC_13_Exp,Predicted_Dep_1,Predicted_Dep_2
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.969282
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.968992
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.970549

In [61]:
# Create a new DataFrame for the test set with the predicted values
test_data = X_test.copy()

# Get the original target column names
target_columns = targets.columns

# Rename the columns in the DataFrame with the prefix 'Pred_' + original target names
for i, col in enumerate(target_columns):
    new_col_name = 'Pred_' + col
    test_data[new_col_name] = y_pred[:, i]

# Display
test_data

,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,AADAC (13) Exp,Pred_EIF2AK3 (9451) Dep,Pred_MYC (4609) Dep
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.969282
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.968992
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.970549

In [62]:
# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Get the original target column names
target_columns = targets.columns

# Rename the columns in the DataFrame with the prefix 'Pred_' + original target names for predicted values
for i, col in enumerate(target_columns):
    new_col_name = 'Pred_' + col
    test_data[new_col_name] = y_pred[:, i]

# Add the actual values from y_test to the DataFrame
for i, col in enumerate(target_columns):
    test_data[col] = y_test.iloc[:, i].values

# Display
test_data

,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,AADAC (13) Exp,Pred_EIF2AK3 (9451) Dep,Pred_MYC (4609) Dep,EIF2AK3 (9451) Dep,MYC (4609) Dep
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.969282,0.037510,0.995092
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.968992,0.018546,0.807414
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.970549,0.012443,1.000000

In [63]:
# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Iterate over the target columns
for i, col in enumerate(y_test.columns):
    # Create new columns for the predicted and actual values
    pred_col = f'Pred_{col}'  # Predicted values column name
    test_col = f'Test_{col}'  # Actual values column name

    # Assign the predicted values to the new column
    test_data[pred_col] = y_pred[:, i]

    # Assign the actual values to the new column
    test_data[test_col] = y_test.iloc[:, i].values

# Display
test_data

,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,AADAC (13) Exp,Pred_EIF2AK3 (9451) Dep,Test_EIF2AK3 (9451) Dep,Pred_MYC (4609) Dep,Test_MYC (4609) Dep
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.037510,0.969282,0.995092
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.018546,0.968992,0.807414
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.012443,0.970549,1.000000

In [83]:
# Retrieve the 'DepMap_ID' column before splitting
depmap_id_column = data['DepMap_ID']

# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Add 'DepMap_ID' column to test_data
test_data['DepMap_ID'] = depmap_id_column.iloc[X_test.index]

for i, col in enumerate(targets.columns):
    pred_col = f'Pred_{col}'
    test_data[pred_col] = y_pred[:, i]
    test_data[col] = y_test.iloc[:, i].values

# Display the updated DataFrame
test_data

,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,AADAC_13_Exp,DepMap_ID,Pred_EIF2AK3_9451_Dep,EIF2AK3_9451_Dep,Pred_MYC_4609_Dep,MYC_4609_Dep
5,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,ACH-000011,0.041759,0.037510,0.969282,0.995092
0,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,ACH-000001,0.044549,0.018546,0.968992,0.807414
9,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,ACH-000015,0.039265,0.012443,0.970549,1.000000

In [86]:
# Retrieve the 'DepMap_ID' column before splitting
depmap_id_column = data['DepMap_ID']

# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Add 'DepMap_ID' column to test_data
test_data['DepMap_ID'] = depmap_id_column.iloc[X_test.index]

for i, col in enumerate(targets.columns):
    pred_col = f'Pred_{col}'
    test_data[pred_col] = y_pred[:, i]
    test_data[col] = y_test.iloc[:, i].values

# Set 'DepMap_ID' as the index of the DataFrame
test_data.set_index('DepMap_ID', inplace=True)

# Display the updated DataFrame
test_data

,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,AADAC_13_Exp,Pred_EIF2AK3_9451_Dep,EIF2AK3_9451_Dep,Pred_MYC_4609_Dep,MYC_4609_Dep
DepMap_ID,,,,,,,,,,,,,,
ACH-000011,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.037510,0.969282,0.995092
ACH-000001,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.018546,0.968992,0.807414
ACH-000015,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.012443,0.970549,1.000000

In [91]:
# Retrieve the 'DepMap_ID' column before splitting
depmap_id_column = data['DepMap_ID']

# Create a new DataFrame for the test set with the predicted and actual values
test_data = X_test.copy()

# Add 'DepMap_ID' column to test_data
test_data.insert(0, 'DepMap_ID', depmap_id_column.iloc[X_test.index].values)

for i, col in enumerate(targets.columns):
    pred_col = f'Pred_{col}'
    test_data[pred_col] = y_pred[:, i]
    test_data[col] = y_test.iloc[:, i].values

# Display the updated DataFrame
test_data

,DepMap_ID,A1BG_1_Exp,A1CF_29974_Exp,A2M_2_Exp,A2ML1_144568_Exp,A3GALT2_127550_Exp,A4GALT_53947_Exp,A4GNT_51146_Exp,AAAS_8086_Exp,AACS_65985_Exp,AADAC_13_Exp,Pred_EIF2AK3_9451_Dep,EIF2AK3_9451_Dep,Pred_MYC_4609_Dep,MYC_4609_Dep
5,ACH-000011,1.035624,0.084064,0.042644,0.014355,0.0,3.531069,0.286881,6.093814,3.758090,0.042644,0.041759,0.037510,0.969282,0.995092
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.0,1.035624,0.176323,5.700440,4.144046,0.790772,0.044549,0.018546,0.968992,0.807414
9,ACH-000015,4.808385,0.214125,3.297191,0.000000,0.0,1.280956,0.238787,6.420718,4.139961,0.650765,0.039265,0.012443,0.970549,1.000000