<a href="https://colab.research.google.com/github/chingyaousf/Intern-project-2023/blob/main/scripts/intern_06_diavalue_extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Combine 2 split files to correlation_table, file size too big, not enough memory to run it, correlation_table 1.76G

import pandas as pd

# Read the two CSV files into separate DataFrames
part1_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_part1.csv')
part2_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_part2.csv')

# Concatenate the two DataFrames vertically
correlation_table = pd.concat([part1_df, part2_df])

# Reset the index of the correlation_table DataFrame
correlation_table = correlation_table.reset_index(drop=True)

# Print the correlation_table DataFrame
correlation_table

In [ ]:
# correlation_table_02 1.08G (partial of correlation_table 1.76G)

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table_02 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_02.csv', index_col=0)

# Print the correlation_table_test DataFrame
#correlation_table_02

# Display the correlation_table_02 DataFrame
display(correlation_table_02)

# Calculate the value range for the entire dataset
min_value = correlation_table_02.min().min()
max_value = correlation_table_02.max().max()

# Calculate the diagonal values range
diagonal_values = correlation_table_02.values.diagonal()
diagonal_min = diagonal_values.min()
diagonal_max = diagonal_values.max()

# Display the value range for the entire dataset and the diagonal values range
print("Value Range (Entire Dataset): ", min_value, " to ", max_value)
print("Value Range (Diagonal): ", diagonal_min, " to ", diagonal_max)

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ZWILCH (55055) Dep,ZWINT (11130) Dep,ZXDA (7789) Dep,ZXDB (158586) Dep,ZXDC (79364) Dep,ZYG11A (440590) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep,ZZEF1 (23140) Dep,ZZZ3 (26009) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013,-0.003,-0.007,0.013,0.030,0.032,...,-0.025,-0.080,0.022,0.104,-0.032,-0.002,-0.046,0.051,0.056,0.012
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011,0.037,-0.034,0.029,-0.069,-0.024,...,-0.013,0.015,-0.032,0.021,-0.003,0.001,-0.003,-0.009,0.030,0.046
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017,-0.048,-0.030,-0.006,0.088,-0.014,...,-0.071,-0.075,0.028,0.045,-0.010,0.037,-0.047,-0.004,-0.023,-0.002
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018,0.013,-0.033,-0.094,-0.081,-0.030,...,-0.090,0.074,-0.034,0.004,0.038,-0.036,0.047,-0.201,-0.103,-0.010
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025,0.027,0.027,0.081,0.033,-0.013,...,-0.040,-0.031,0.084,0.078,0.011,0.079,0.104,0.016,0.015,0.039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PDK2 (5164) Exp,0.017,-0.031,-0.043,0.006,0.086,0.100,-0.029,0.115,0.020,-0.017,...,-0.070,-0.109,0.017,0.065,0.014,0.004,0.066,0.106,0.031,-0.006
PDK3 (5165) Exp,-0.030,0.039,0.015,-0.014,-0.049,-0.035,-0.043,0.010,-0.010,0.016,...,-0.051,0.022,-0.041,-0.005,0.021,0.019,-0.049,-0.007,-0.013,-0.092
PDK4 (5166) Exp,-0.041,-0.004,0.040,-0.019,0.054,-0.007,-0.022,0.043,0.023,-0.004,...,-0.077,-0.055,0.089,0.080,0.027,0.038,0.029,0.086,0.011,0.068
PDLIM1 (9124) Exp,0.006,0.017,-0.029,-0.041,0.042,-0.044,-0.022,-0.040,-0.094,-0.033,...,-0.004,0.090,-0.041,-0.040,-0.002,0.002,0.058,-0.070,-0.072,0.066
PDLIM2 (64236) Exp,0.071,-0.051,-0.000,-0.003,0.060,-0.015,0.092,0.124,0.165,-0.017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Value Range (Entire Dataset):  -0.75  to  0.62
Value Range (Diagonal):  -0.497  to  0.615

In [ ]:
# Gernerate correlation_table_test for testing the codes following

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_02.csv', index_col=0)

# Select the subset of rows and columns
correlation_table_test = correlation_table.iloc[:1000, :1000]

# Save the correlation_table_test DataFrame to a CSV file
correlation_table_test.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index=True)

# Print the correlation_table_test DataFrame
correlation_table_test

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ARMC3 (219681) Dep,ARMC5 (79798) Dep,ARMC6 (93436) Dep,ARMC7 (79637) Dep,ARMC8 (25852) Dep,ARMC9 (80210) Dep,ARMCX1 (51309) Dep,ARMCX2 (9823) Dep,ARMCX3 (51566) Dep,ARMCX4 (100131755) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013,-0.003,-0.007,0.013,0.030,0.032,...,0.007,0.058,0.014,0.139,0.033,-0.068,0.024,-0.013,0.011,-0.030
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011,0.037,-0.034,0.029,-0.069,-0.024,...,0.071,0.049,0.039,-0.067,0.009,0.079,0.089,-0.041,-0.003,0.038
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017,-0.048,-0.030,-0.006,0.088,-0.014,...,-0.070,0.011,0.031,0.061,0.022,-0.079,0.010,-0.005,-0.026,0.007
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018,0.013,-0.033,-0.094,-0.081,-0.030,...,-0.031,-0.042,-0.009,0.002,-0.028,0.018,-0.037,0.054,0.046,0.033
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025,0.027,0.027,0.081,0.033,-0.013,...,0.024,0.012,0.022,-0.040,0.069,0.015,0.011,-0.004,0.046,0.028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ARMC9 (80210) Exp,0.033,0.003,-0.008,-0.011,0.058,0.029,0.056,0.069,0.183,-0.011,...,0.006,0.213,0.082,0.033,0.006,-0.030,0.049,-0.011,-0.061,0.007
ARMCX1 (51309) Exp,-0.009,-0.088,0.010,-0.078,0.030,0.013,0.065,0.067,0.132,0.029,...,-0.022,0.154,0.020,0.057,0.030,-0.006,0.005,0.014,0.011,-0.009
ARMCX2 (9823) Exp,-0.002,-0.095,0.012,-0.011,0.049,0.036,0.037,0.091,0.095,0.037,...,0.005,0.097,0.046,0.001,-0.000,0.022,0.081,-0.047,0.008,-0.029
ARMCX3 (51566) Exp,-0.011,-0.040,0.012,-0.030,0.005,0.036,0.039,0.096,0.102,0.037,...,0.018,0.077,0.009,-0.003,0.003,0.013,-0.003,-0.030,-0.010,-0.005
ARMCX4 (100131755) Exp,0.044,-0.046,0.017,0.012,0.037,0.054,0.021,0.064,0.047,0.047,...,-0.027,0.025,0.014,-0.013,0.025,0.012,0.020,-0.012,0.023,-0.058

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
correlation_table_test= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Print the correlation_table_test DataFrame
correlation_table_test

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ARMC3 (219681) Dep,ARMC5 (79798) Dep,ARMC6 (93436) Dep,ARMC7 (79637) Dep,ARMC8 (25852) Dep,ARMC9 (80210) Dep,ARMCX1 (51309) Dep,ARMCX2 (9823) Dep,ARMCX3 (51566) Dep,ARMCX4 (100131755) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013,-0.003,-0.007,0.013,0.030,0.032,...,0.007,0.058,0.014,0.139,0.033,-0.068,0.024,-0.013,0.011,-0.030
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011,0.037,-0.034,0.029,-0.069,-0.024,...,0.071,0.049,0.039,-0.067,0.009,0.079,0.089,-0.041,-0.003,0.038
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017,-0.048,-0.030,-0.006,0.088,-0.014,...,-0.070,0.011,0.031,0.061,0.022,-0.079,0.010,-0.005,-0.026,0.007
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018,0.013,-0.033,-0.094,-0.081,-0.030,...,-0.031,-0.042,-0.009,0.002,-0.028,0.018,-0.037,0.054,0.046,0.033
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025,0.027,0.027,0.081,0.033,-0.013,...,0.024,0.012,0.022,-0.040,0.069,0.015,0.011,-0.004,0.046,0.028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ARMC9 (80210) Exp,0.033,0.003,-0.008,-0.011,0.058,0.029,0.056,0.069,0.183,-0.011,...,0.006,0.213,0.082,0.033,0.006,-0.030,0.049,-0.011,-0.061,0.007
ARMCX1 (51309) Exp,-0.009,-0.088,0.010,-0.078,0.030,0.013,0.065,0.067,0.132,0.029,...,-0.022,0.154,0.020,0.057,0.030,-0.006,0.005,0.014,0.011,-0.009
ARMCX2 (9823) Exp,-0.002,-0.095,0.012,-0.011,0.049,0.036,0.037,0.091,0.095,0.037,...,0.005,0.097,0.046,0.001,-0.000,0.022,0.081,-0.047,0.008,-0.029
ARMCX3 (51566) Exp,-0.011,-0.040,0.012,-0.030,0.005,0.036,0.039,0.096,0.102,0.037,...,0.018,0.077,0.009,-0.003,0.003,0.013,-0.003,-0.030,-0.010,-0.005
ARMCX4 (100131755) Exp,0.044,-0.046,0.017,0.012,0.037,0.054,0.021,0.064,0.047,0.047,...,-0.027,0.025,0.014,-0.013,0.025,0.012,0.020,-0.012,0.023,-0.058

In [ ]:
# Generate very small file (correlation_table_test_small) for checking diagonal values

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Select the subset of rows and columns
correlation_table_test_small = correlation_table.iloc[:5, :5]

# Save the correlation_table_test_small DataFrame to a CSV file
correlation_table_test_small.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_small.csv',index=True)

# Print the correlation_table_test_small DataFrame
correlation_table_test_small

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep
DepMap_ID,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025

In [ ]:
import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_tabl_samll = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_small.csv')

correlation_table_test_small

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep
DepMap_ID,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025

In [ ]:
# Checking diagonal values whether match the values of correlation_table_test_small

import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_small.csv', index_col=0)

# Get the diagonal values
diagonal_values = np.diag(correlation_table.values)

# Print the diagonal values
print(diagonal_values)

[ 0.028  0.004 -0.007  0.013  0.025]

In [ ]:
import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_small.csv', index_col=0)

# Get the diagonal values
diagonal_values = np.diag(correlation_table.values)

# Create a boolean mask for diagonal values bigger than 0
mask = diagonal_values > 0

# Select rows and columns based on the mask
correlation_table_test_small_diavalues_gt_0 = correlation_table.iloc[mask, mask]

# Print the new dataset
correlation_table_test_small_diavalues_gt_0

,A1BG (1) Dep,A1CF (29974) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep
DepMap_ID,,,,
A1BG (1) Exp,0.028,-0.029,0.012,-0.013
A1CF (29974) Exp,-0.033,0.004,-0.051,-0.011
A2ML1 (144568) Exp,-0.030,0.094,0.013,-0.018
A3GALT2 (127550) Exp,-0.022,-0.008,-0.034,0.025

In [ ]:
# To extract the diagonal values bigger than 0.1 and create a new dataset preserving the rows and columns with diagonal values bigger than 0.1

import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Get the diagonal values
diagonal_values = np.diag(correlation_table.values)

# Create a boolean mask for diagonal values bigger than 0.1
mask = diagonal_values > 0.1

# Select rows and columns based on the mask
correlation_table_test_diavalues_gt_0 = correlation_table.iloc[mask, mask]

# Save the new dataset to a CSV file in the same directory
correlation_table_test_diavalues_gt_0.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_diavalues_gt_0.csv')

# Print the new dataset
correlation_table_test_diavalues_gt_0

,AAK1 (22848) Dep,ABCA4 (24) Dep,ABCB6 (10058) Dep,ABCD3 (5825) Dep,ABI2 (10152) Dep,ABLIM2 (84448) Dep,ACAD8 (27034) Dep,ACAP3 (116983) Dep,ACER3 (55331) Dep,ACO1 (48) Dep,...,ARHGAP32 (9743) Dep,ARHGAP45 (23526) Dep,ARHGEF11 (9826) Dep,ARHGEF28 (64283) Dep,ARHGEF3 (50650) Dep,ARID1A (8289) Dep,ARID1B (57492) Dep,ARID5B (84159) Dep,ARL4C (10123) Dep,ARL4D (379) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
AAK1 (22848) Exp,0.120,0.099,0.046,0.119,0.004,-0.002,0.017,0.020,0.028,0.107,...,0.001,-0.077,0.083,0.036,0.051,0.052,-0.004,0.028,0.127,0.085
ABCA4 (24) Exp,0.151,0.178,-0.008,0.120,0.005,0.058,0.008,0.035,0.007,0.112,...,0.029,-0.105,0.032,0.022,0.082,-0.089,0.016,0.050,-0.006,0.062
ABCB6 (10058) Exp,0.099,0.023,0.147,0.013,0.093,0.001,-0.011,0.020,-0.001,0.043,...,0.020,-0.072,0.081,0.052,-0.009,-0.044,0.070,0.018,0.100,0.121
ABCD3 (5825) Exp,0.107,0.142,0.029,0.123,-0.025,0.004,-0.017,0.052,-0.013,0.093,...,-0.016,-0.096,0.045,0.111,0.070,-0.079,0.032,0.005,0.060,0.104
ABI2 (10152) Exp,0.011,-0.026,0.074,0.032,0.129,0.041,0.096,0.039,0.001,0.091,...,-0.016,-0.027,0.103,0.095,0.057,-0.055,0.130,-0.077,0.111,0.092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ARID1A (8289) Exp,-0.116,-0.158,-0.012,-0.091,0.005,-0.044,-0.006,0.091,-0.013,-0.058,...,-0.022,0.130,-0.026,-0.003,-0.003,0.112,0.038,-0.125,-0.114,0.042
ARID1B (57492) Exp,-0.082,-0.113,0.024,-0.076,0.014,0.004,0.030,0.084,-0.010,-0.034,...,-0.023,0.133,0.001,0.030,0.000,-0.048,0.179,-0.098,-0.036,0.058
ARID5B (84159) Exp,0.136,0.028,0.026,0.028,0.002,0.033,0.010,0.054,-0.033,0.039,...,0.024,-0.084,0.009,0.059,-0.008,0.047,-0.013,0.162,0.077,0.051
ARL4C (10123) Exp,0.124,0.147,0.057,0.147,0.078,0.077,0.060,0.008,0.050,0.100,...,0.030,-0.118,0.018,0.043,0.059,-0.040,0.010,0.068,0.315,0.032
ARL4D (379) Exp,0.152,0.225,-0.041,0.110,-0.012,0.068,0.023,-0.033,0.022,0.070,...,0.043,-0.108,0.136,0.022,0.077,-0.032,-0.007,0.029,0.073,0.126

In [ ]:
# To extract the diagonal values bigger than 0.1 and create a new dataset preserving the rows and columns with diagonal values bigger than 0.1
# Running correlation_table_diavalues_gt_0.1.sh extract from file correlation_table.csv 1.76 GB to produce correlation_table_diavalues_gt_0.csv 14 MB

import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table_diavalues_gt_0 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_diavalues_gt_0.csv',index_col=0)

# Display the correlation_table_diavalues_gt_0 DataFrame
display(correlation_table_diavalues_gt_0)

# Calculate the value range for the entire dataset
entire_min = correlation_table_diavalues_gt_0.min().min()
entire_max = correlation_table_diavalues_gt_0.max().max()

# Calculate the diagonal values range
diagonal_values = correlation_table_diavalues_gt_0.values.diagonal()
diagonal_min = diagonal_values.min()
diagonal_max = diagonal_values.max()

# Display the value range for the entire dataset and the diagonal values range
print("Value Range (Entire Dataset): ", entire_min, " to ", entire_max)
print("Value Range (Diagonal): ", diagonal_min, " to ", diagonal_max)

,AAK1 (22848) Dep,ABCA4 (24) Dep,ABCB6 (10058) Dep,ABCD3 (5825) Dep,ABI2 (10152) Dep,ABLIM2 (84448) Dep,ACAD8 (27034) Dep,ACAP3 (116983) Dep,ACER3 (55331) Dep,ACO1 (48) Dep,...,ZNF704 (619279) Dep,ZNF763 (284390) Dep,ZNF786 (136051) Dep,ZNF814 (730051) Dep,ZNF850 (342892) Dep,ZNF862 (643641) Dep,ZNFX1 (57169) Dep,ZRANB2 (9406) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
AAK1 (22848) Exp,0.120,0.099,0.046,0.119,0.004,-0.002,0.017,0.020,0.028,0.107,...,0.068,-0.044,-0.029,-0.026,0.039,-0.041,0.071,0.028,0.082,0.079
ABCA4 (24) Exp,0.151,0.178,-0.008,0.120,0.005,0.058,0.008,0.035,0.007,0.112,...,0.130,0.004,-0.027,0.037,0.021,-0.010,0.014,0.020,0.054,0.041
ABCB6 (10058) Exp,0.099,0.023,0.147,0.013,0.093,0.001,-0.011,0.020,-0.001,0.043,...,0.085,0.007,-0.007,0.057,0.051,0.024,-0.009,0.001,0.124,0.049
ABCD3 (5825) Exp,0.107,0.142,0.029,0.123,-0.025,0.004,-0.017,0.052,-0.013,0.093,...,0.087,-0.018,-0.002,0.005,0.033,-0.024,-0.039,0.012,0.049,0.010
ABI2 (10152) Exp,0.011,-0.026,0.074,0.032,0.129,0.041,0.096,0.039,0.001,0.091,...,-0.020,-0.023,0.032,0.108,0.088,0.008,-0.002,0.116,0.147,0.138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZNF862 (643641) Exp,0.006,-0.087,0.043,-0.006,0.039,0.055,0.036,0.109,-0.020,0.030,...,0.104,-0.003,0.135,-0.019,0.050,0.171,0.081,-0.004,0.012,0.057
ZNFX1 (57169) Exp,0.129,0.197,0.009,0.155,-0.013,0.034,0.006,0.012,0.058,0.079,...,0.031,-0.063,-0.055,-0.061,0.067,-0.041,0.226,0.018,0.070,0.111
ZRANB2 (9406) Exp,-0.089,-0.089,0.018,-0.073,0.029,-0.061,0.027,0.033,-0.042,0.017,...,-0.009,-0.022,0.047,0.060,-0.002,-0.012,-0.017,0.113,-0.053,0.007
ZYG11B (79699) Exp,0.019,0.048,0.079,0.010,0.064,0.025,0.081,0.029,-0.003,0.066,...,0.048,-0.025,0.018,0.085,0.079,-0.032,-0.044,0.062,0.120,0.087
ZYX (7791) Exp,0.117,0.139,0.025,0.125,0.032,0.004,0.040,0.021,0.061,0.121,...,0.060,-0.010,-0.043,-0.005,0.093,-0.060,0.112,0.009,0.046,0.191

Value Range (Entire Dataset):  -0.567  to  0.617
Value Range (Diagonal):  0.101  to  0.615