<a href="https://colab.research.google.com/github/chingyaousf/Intern-project-2023/blob/main/scripts/MLpredictionDep_01_data_construction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Read the CSV file
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/arranged_table.csv")

# Transpose the DataFrame
arranged_table_transposed = arranged_table.transpose()

# Reset the index and set new column names
arranged_table_transposed = arranged_table_transposed.reset_index()
arranged_table_transposed.columns = arranged_table_transposed.iloc[0]
arranged_table_transposed = arranged_table_transposed.iloc[1:]

# Adjust the leftmost column to count from 0
arranged_table_transposed.reset_index(drop=True, inplace=True)

# Save the transposed DataFrame to a CSV file
arranged_table_transposed.to_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/arranged_table_transposed.csv", index=False)

arranged_table_transposed

,DepMap_ID,A1BG (1) Dep,A1BG (1) Exp,A1CF (29974) Dep,A1CF (29974) Exp,A2M (2) Dep,A2M (2) Exp,A2ML1 (144568) Dep,A2ML1 (144568) Exp,A3GALT2 (127550) Dep,...,ZYG11A (440590) Dep,ZYG11A (440590) Exp,ZYG11B (79699) Dep,ZYG11B (79699) Exp,ZYX (7791) Dep,ZYX (7791) Exp,ZZEF1 (23140) Dep,ZZEF1 (23140) Exp,ZZZ3 (26009) Dep,ZZZ3 (26009) Exp
0,ACH-000001,0.094568,3.116032,0.012519,0.056584,0.02746,0.226509,0.025962,0.111031,0.073412,...,0.082956,3.28244,0.012,2.797013,0.003592,6.821455,0.012679,3.01078,0.324623,4.381975
1,ACH-000004,0.012676,4.178715,0.049011,0.0,0.075933,0.214125,0.033215,0.344828,0.013176,...,0.060266,0.014355,0.128375,2.032101,0.005911,7.002252,0.004645,3.444932,0.04253,4.910733
2,ACH-000005,0.053957,4.003602,0.027968,0.014355,0.010139,0.137504,0.005448,0.014355,0.018599,...,0.034712,0.014355,0.092832,2.761285,0.012482,6.826421,0.020843,3.524816,0.050412,5.592457
3,ACH-000007,0.026704,0.137504,0.083588,1.405992,0.008853,0.201634,0.011299,0.0,0.027288,...,0.035241,0.014355,0.138445,1.989139,0.103161,6.332708,0.146222,3.673556,0.274833,3.469886
4,ACH-000009,0.059383,1.464668,0.051826,3.586164,0.01537,0.250962,0.011721,0.0,0.030062,...,0.18955,1.356144,0.328064,2.956057,0.035161,7.853185,0.058402,3.44228,0.269194,3.351911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,0.063758,1.967169,0.039244,0.0,0.029825,2.198494,0.034174,0.0,0.139199,...,0.068998,0.014355,0.144264,4.173127,0.067693,6.560256,0.081846,2.969012,0.131433,5.276869
1001,ACH-002800,0.030591,3.847997,0.040334,0.0,0.00188,5.899901,0.005053,0.321928,0.154874,...,0.040005,0.62293,0.077345,3.084064,0.038227,6.596935,0.048967,3.177918,0.033994,4.847997
1002,ACH-002834,0.01272,1.819668,0.08384,0.014355,0.013308,0.014355,0.013315,0.201634,0.107286,...,0.029711,1.400538,0.024132,2.568032,0.174946,6.953498,0.09151,3.087463,0.421153,4.226509
1003,ACH-002847,0.058547,2.990955,0.079576,0.0,0.036707,7.60844,0.030234,0.014355,0.069976,...,0.072452,1.480265,0.131375,2.748461,0.115486,7.432041,0.094022,2.903038,0.438092,4.660495
1004,ACH-002926,0.02201,3.189034,0.023496,0.0,0.012432,9.33539,0.00742,0.014355,0.018041,...,0.028312,0.014355,0.104833,2.776104,0.008261,5.182295,0.035919,2.956057,0.404214,3.785551

In [ ]:
import pandas as pd

# Read the CSV file
arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/arranged_table_transposed.csv")

# Separate the column names with "Exp" and "Dep"
exp_columns = [col for col in arranged_table.columns if col.endswith(" Exp")]
dep_columns = [col for col in arranged_table.columns if col.endswith(" Dep")]

# Reorder the columns with "Exp" on the left and "Dep" on the right
new_columns = ["DepMap_ID"] + exp_columns + dep_columns

# Create a new DataFrame with the reordered columns
arranged_table_reordered = arranged_table[new_columns]

# Adjust the leftmost column to count from 0
arranged_table_reordered.reset_index(drop=True, inplace=True)

arranged_table_reordered

,DepMap_ID,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,...,ZWILCH (55055) Dep,ZWINT (11130) Dep,ZXDA (7789) Dep,ZXDB (158586) Dep,ZXDC (79364) Dep,ZYG11A (440590) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep,ZZEF1 (23140) Dep,ZZZ3 (26009) Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,...,0.037449,0.080585,0.034309,0.007142,0.004241,0.082956,0.012000,0.003592,0.012679,0.324623
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,...,0.038768,0.230569,0.007125,0.021209,0.011203,0.060266,0.128375,0.005911,0.004645,0.042530
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,...,0.017479,0.274568,0.054525,0.033396,0.033416,0.034712,0.092832,0.012482,0.020843,0.050412
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,...,0.196233,0.615338,0.011212,0.002200,0.005432,0.035241,0.138445,0.103161,0.146222,0.274833
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,...,0.152385,0.405712,0.029011,0.002816,0.056461,0.189550,0.328064,0.035161,0.058402,0.269194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,1.967169,0.000000,2.198494,0.000000,0.000000,1.490570,0.000000,5.300490,4.314697,...,0.097896,0.126051,0.014528,0.009290,0.045986,0.068998,0.144264,0.067693,0.081846,0.131433
1001,ACH-002800,3.847997,0.000000,5.899901,0.321928,0.000000,3.206331,0.000000,5.831877,3.822730,...,0.004340,0.195897,0.029177,0.002176,0.014489,0.040005,0.077345,0.038227,0.048967,0.033994
1002,ACH-002834,1.819668,0.014355,0.014355,0.201634,0.000000,2.912650,0.028569,5.646451,4.547820,...,0.027170,0.636352,0.022403,0.052849,0.029567,0.029711,0.024132,0.174946,0.091510,0.421153
1003,ACH-002847,2.990955,0.000000,7.608440,0.014355,0.000000,0.584963,0.000000,5.104337,4.228819,...,0.476423,0.967625,0.014249,0.018715,0.010776,0.072452,0.131375,0.115486,0.094022,0.438092
1004,ACH-002926,3.189034,0.000000,9.335390,0.014355,0.000000,0.000000,0.014355,5.204376,4.405992,...,0.669718,0.939699,0.013556,0.001120,0.057491,0.028312,0.104833,0.008261,0.035919,0.404214

In [ ]:
# Find the column names containing the specified strings
target_columns = arranged_table_reordered.columns[arranged_table_reordered.columns.str.contains('EIF2AK3|SF3B1|NQO1|SQSTM1|MYC|HSP70')]

target_columns

Index(['EIF2AK3 (9451) Exp', 'MYC (4609) Exp', 'MYCBP (26292) Exp',
       'MYCBPAP (84073) Exp', 'MYCL (4610) Exp', 'MYCN (4613) Exp',
       'MYCT1 (80177) Exp', 'NQO1 (1728) Exp', 'SF3B1 (23451) Exp',
       'SQSTM1 (8878) Exp', 'EIF2AK3 (9451) Dep', 'MYC (4609) Dep',
       'MYCBP (26292) Dep', 'MYCBPAP (84073) Dep', 'MYCL (4610) Dep',
       'MYCN (4613) Dep', 'MYCT1 (80177) Dep', 'NQO1 (1728) Dep',
       'SF3B1 (23451) Dep', 'SQSTM1 (8878) Dep'],
      dtype='object')

In [ ]:
# Find the column names exactly matching the specified strings
target_columns = arranged_table_reordered.columns[arranged_table_reordered.columns.str.match('EIF2AK3 |SF3B1 |NQO1 |SQSTM1 |MYC |HSP70 ')]

target_columns

Index(['EIF2AK3 (9451) Exp', 'MYC (4609) Exp', 'NQO1 (1728) Exp',
       'SF3B1 (23451) Exp', 'SQSTM1 (8878) Exp', 'EIF2AK3 (9451) Dep',
       'MYC (4609) Dep', 'NQO1 (1728) Dep', 'SF3B1 (23451) Dep',
       'SQSTM1 (8878) Dep'],
      dtype='object')

In [ ]:
# Create a list of column names to preserve

preserved_columns = ["EIF2AK3", "SF3B1", "NQO1", "SQSTM1", "MYC", "HSP70"]

# Filter the columns based on the preserved column names
filtered_columns = [col for col in arranged_table_reordered.columns if (col.endswith(" Dep") and col.split(" ")[0] in preserved_columns) or not col.endswith(" Dep")]

# Create a new DataFrame with the filtered columns
filtered_arranged_table = arranged_table_reordered[filtered_columns]

# Save the filtered_arranged_table DataFrame to a CSV file
filtered_arranged_table.to_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table.csv", index=False)

filtered_arranged_table

,DepMap_ID,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,...,ZYG11A (440590) Exp,ZYG11B (79699) Exp,ZYX (7791) Exp,ZZEF1 (23140) Exp,ZZZ3 (26009) Exp,EIF2AK3 (9451) Dep,MYC (4609) Dep,NQO1 (1728) Dep,SF3B1 (23451) Dep,SQSTM1 (8878) Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,...,3.282440,2.797013,6.821455,3.010780,4.381975,0.018546,0.807414,0.076613,1.000000,0.020657
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,...,0.014355,2.032101,7.002252,3.444932,4.910733,0.044907,0.999985,0.061617,1.000000,0.049385
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,...,0.014355,2.761285,6.826421,3.524816,5.592457,0.009301,1.000000,0.049535,0.994004,0.015969
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,...,0.014355,1.989139,6.332708,3.673556,3.469886,0.058868,0.999620,0.036902,0.999886,0.041706
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,...,1.356144,2.956057,7.853185,3.442280,3.351911,0.040590,0.979828,0.006602,0.973598,0.034535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,1.967169,0.000000,2.198494,0.000000,0.000000,1.490570,0.000000,5.300490,4.314697,...,0.014355,4.173127,6.560256,2.969012,5.276869,0.038095,0.701928,0.161286,1.000000,0.136197
1001,ACH-002800,3.847997,0.000000,5.899901,0.321928,0.000000,3.206331,0.000000,5.831877,3.822730,...,0.622930,3.084064,6.596935,3.177918,4.847997,0.177952,0.462993,0.054260,1.000000,0.022899
1002,ACH-002834,1.819668,0.014355,0.014355,0.201634,0.000000,2.912650,0.028569,5.646451,4.547820,...,1.400538,2.568032,6.953498,3.087463,4.226509,0.002074,0.911326,0.022301,0.998623,0.013754
1003,ACH-002847,2.990955,0.000000,7.608440,0.014355,0.000000,0.584963,0.000000,5.104337,4.228819,...,1.480265,2.748461,7.432041,2.903038,4.660495,0.161273,0.704900,0.184386,0.999903,0.058351
1004,ACH-002926,3.189034,0.000000,9.335390,0.014355,0.000000,0.000000,0.014355,5.204376,4.405992,...,0.014355,2.776104,5.182295,2.956057,3.785551,0.017135,0.963046,0.022057,0.998453,0.055990

In [ ]:
# checking some columns values

import pandas as pd

# Load the CSV file into a DataFrame
filtered_arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table.csv")

# Select the desired columns
selected_columns = filtered_arranged_table[["AAK1 (22848) Exp","ABCA4 (24) Exp","ACER3 (55331) Exp"]]

# Display the selected columns
selected_columns

      AAK1 (22848) Exp  ABCA4 (24) Exp  ACER3 (55331) Exp
0             3.078951        2.443607           5.980025
1             2.292782        0.713696           3.648465
2             2.625270        0.163499           4.025029
3             1.970854        0.070389           2.283922
4             3.397803        0.070389           3.549669
...                ...             ...                ...
1000          3.819668        0.238787           2.313246
1001          4.034744        1.967169           3.206331
1002          4.133399        1.786596           2.799087
1003          3.396434        0.400538           6.646451
1004          3.033863        0.000000           3.496974

[1005 rows x 3 columns]

In [ ]:
# checking some columns values

import pandas as pd

# Load the CSV file into a DataFrame
filtered_arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table.csv")

# Select columns based on partial names
selected_columns = filtered_arranged_table.filter(like="AAK1")
selected_columns = selected_columns.join(filtered_arranged_table.filter(like="ABCA4"))
selected_columns = selected_columns.join(filtered_arranged_table.filter(like="ACER3"))

# Display the selected columns
selected_columns

      AAK1 (22848) Exp  ABCA4 (24) Exp  ACER3 (55331) Exp
0             3.078951        2.443607           5.980025
1             2.292782        0.713696           3.648465
2             2.625270        0.163499           4.025029
3             1.970854        0.070389           2.283922
4             3.397803        0.070389           3.549669
...                ...             ...                ...
1000          3.819668        0.238787           2.313246
1001          4.034744        1.967169           3.206331
1002          4.133399        1.786596           2.799087
1003          3.396434        0.400538           6.646451
1004          3.033863        0.000000           3.496974

[1005 rows x 3 columns]

In [ ]:
# From correlation_table_diavalues_gt_0.csv which extract the diagonal values bigger than 0.1 and then file filtered_arranged_table.csv mach gene EXP with it to produce a dataset for ML.

import pandas as pd

# Read the first file and extract the row names as a list
first_file = '/content/drive/MyDrive/Colab Notebooks/correlation_table_diavalues_gt_0.csv'
df_first = pd.read_csv(first_file)
row_names = list(df_first.iloc[:, 0])

# Read the second file and select columns with matching names
second_file = '/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table.csv'
df_second = pd.read_csv(second_file)

# Filter columns from the second file based on matching row names
# columns_to_keep = ['DepMap_ID'] + [col for col in df_second.columns if col in row_names]
columns_to_keep = ['DepMap_ID'] + [col for col in df_second.columns if col in row_names]+['EIF2AK3 (9451) Dep','MYC (4609) Dep','NQO1 (1728) Dep','SF3B1 (23451) Dep','SQSTM1 (8878) Dep']
df_filtered = df_second[columns_to_keep]

# Save the modified second file
output_file = '/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table_modified.csv'
df_filtered.to_csv(output_file, index=False)

df_filtered

,DepMap_ID,AAK1 (22848) Exp,ABCA4 (24) Exp,ABCB6 (10058) Exp,ABCD3 (5825) Exp,ABI2 (10152) Exp,ABLIM2 (84448) Exp,ACAD8 (27034) Exp,ACAP3 (116983) Exp,ACER3 (55331) Exp,...,ZNF862 (643641) Exp,ZNFX1 (57169) Exp,ZRANB2 (9406) Exp,ZYG11B (79699) Exp,ZYX (7791) Exp,EIF2AK3 (9451) Dep,MYC (4609) Dep,NQO1 (1728) Dep,SF3B1 (23451) Dep,SQSTM1 (8878) Dep
0,ACH-000001,3.078951,2.443607,4.811985,4.746313,5.388534,1.510962,2.918386,4.514753,5.980025,...,2.629939,4.003602,6.157044,2.797013,6.821455,0.018546,0.807414,0.076613,1.000000,0.020657
1,ACH-000004,2.292782,0.713696,4.973152,4.727920,5.187055,0.000000,6.191997,3.166715,3.648465,...,1.560715,2.904966,7.344917,2.032101,7.002252,0.044907,0.999985,0.061617,1.000000,0.049385
2,ACH-000005,2.625270,0.163499,5.231509,5.802452,5.328406,0.028569,5.561632,2.464668,4.025029,...,1.700440,3.166715,7.609179,2.761285,6.826421,0.009301,1.000000,0.049535,0.994004,0.015969
3,ACH-000007,1.970854,0.070389,3.392317,4.532940,3.499527,2.386811,4.410070,4.799605,2.283922,...,2.435629,3.051372,5.645010,1.989139,6.332708,0.058868,0.999620,0.036902,0.999886,0.041706
4,ACH-000009,3.397803,0.070389,5.590662,5.454834,4.841470,0.084064,5.183883,4.221877,3.549669,...,1.395063,4.263786,5.151372,2.956057,7.853185,0.040590,0.979828,0.006602,0.973598,0.034535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,3.819668,0.238787,3.730096,5.890933,5.172728,0.189034,2.695994,1.895303,2.313246,...,2.773996,4.753284,6.036064,4.173127,6.560256,0.038095,0.701928,0.161286,1.000000,0.136197
1001,ACH-002800,4.034744,1.967169,2.805292,5.292414,4.761817,0.731183,4.161081,1.910733,3.206331,...,2.408712,3.614710,5.499846,3.084064,6.596935,0.177952,0.462993,0.054260,1.000000,0.022899
1002,ACH-002834,4.133399,1.786596,3.226509,4.999098,4.737146,0.214125,3.351911,2.464668,2.799087,...,0.887525,4.932156,5.254367,2.568032,6.953498,0.002074,0.911326,0.022301,0.998623,0.013754
1003,ACH-002847,3.396434,0.400538,3.379898,4.888500,4.164304,0.042644,2.482848,3.649615,6.646451,...,1.925999,3.484138,5.189825,2.748461,7.432041,0.161273,0.704900,0.184386,0.999903,0.058351
1004,ACH-002926,3.033863,0.000000,4.672991,4.822730,4.914565,0.000000,3.509696,3.845992,3.496974,...,2.516015,3.512227,5.825531,2.776104,5.182295,0.017135,0.963046,0.022057,0.998453,0.055990

In [ ]:
# From correlation_table_diavalues_gt_03.csv which extract the diagonal values bigger than 0.3 and then file filtered_arranged_table.csv mach gene EXP with it to produce a dataset for ML.

import pandas as pd

# Read the first file and extract the row names as a list
first_file = '/content/drive/MyDrive/Colab Notebooks/correlation_table_diavalues_gt_03.csv'
df_first = pd.read_csv(first_file)
row_names = list(df_first.iloc[:, 0])

# Read the second file and select columns with matching names
second_file = '/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table.csv'
df_second = pd.read_csv(second_file)

# Filter columns from the second file based on matching row names
# columns_to_keep = ['DepMap_ID'] + [col for col in df_second.columns if col in row_names]
columns_to_keep = ['DepMap_ID'] + [col for col in df_second.columns if col in row_names]+['EIF2AK3 (9451) Dep','MYC (4609) Dep','NQO1 (1728) Dep','SF3B1 (23451) Dep','SQSTM1 (8878) Dep']
df_filtered = df_second[columns_to_keep]

# Save the modified second file
output_file = '/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table_modified_03.csv'
df_filtered.to_csv(output_file, index=False)

df_filtered

,DepMap_ID,ARHGAP29 (9411) Exp,ARL4C (10123) Exp,BCAR1 (9564) Exp,BCAR3 (8412) Exp,BCL2 (596) Exp,BCL2L1 (598) Exp,CCND1 (595) Exp,CCND2 (894) Exp,CCND3 (896) Exp,...,YAP1 (10413) Exp,ZEB1 (6935) Exp,ZEB2 (9839) Exp,ZFP36L1 (677) Exp,ZNF217 (7764) Exp,EIF2AK3 (9451) Dep,MYC (4609) Dep,NQO1 (1728) Dep,SF3B1 (23451) Dep,SQSTM1 (8878) Dep
0,ACH-000001,7.570994,3.923149,4.506526,3.407353,0.903038,6.933573,7.437877,0.042644,4.375735,...,4.981853,0.124328,0.226509,5.612058,4.915999,0.018546,0.807414,0.076613,1.000000,0.020657
1,ACH-000004,0.189034,0.084064,0.250962,0.475085,1.361768,7.527399,1.056584,4.017031,9.091753,...,0.150560,0.176323,6.326609,4.339850,3.040892,0.044907,0.999985,0.061617,1.000000,0.049385
2,ACH-000005,0.263034,0.097611,0.214125,0.344828,2.536053,7.314787,2.295723,5.225352,8.802387,...,0.201634,0.555816,6.549207,4.202418,3.782409,0.009301,1.000000,0.049535,0.994004,0.015969
3,ACH-000007,1.855990,4.037382,4.491212,2.327687,0.150560,6.578335,5.198494,4.442943,4.533563,...,5.324091,0.650765,0.070389,6.787641,3.363171,0.058868,0.999620,0.036902,0.999886,0.041706
4,ACH-000009,3.635754,5.088311,5.914565,2.204767,1.378512,8.462748,7.428611,3.875780,4.568032,...,7.003040,0.070389,0.111031,4.984589,4.461398,0.040590,0.979828,0.006602,0.973598,0.034535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,6.633286,3.422233,2.541019,5.982537,0.985500,6.346070,5.191010,0.000000,4.560104,...,4.974988,5.261907,4.336997,6.478487,6.109570,0.038095,0.701928,0.161286,1.000000,0.136197
1001,ACH-002800,5.783719,5.549977,3.618239,4.852998,0.985500,5.913608,6.467116,4.744699,5.634593,...,5.967399,4.552746,3.080658,6.238214,4.553361,0.177952,0.462993,0.054260,1.000000,0.022899
1002,ACH-002834,5.003152,6.382667,4.006298,5.301222,1.250962,4.745775,6.474760,2.244887,6.387845,...,5.149341,3.415488,4.882643,6.464668,4.486714,0.002074,0.911326,0.022301,0.998623,0.013754
1003,ACH-002847,3.976364,5.433961,4.526069,5.730368,1.356144,6.513491,10.967010,0.000000,5.676098,...,9.930811,3.286881,4.714246,5.561632,4.095080,0.161273,0.704900,0.184386,0.999903,0.058351
1004,ACH-002926,2.189034,4.617063,2.244887,1.327687,4.367371,5.206331,8.036174,0.565597,4.807870,...,5.113117,0.042644,5.296090,6.658783,4.397803,0.017135,0.963046,0.022057,0.998453,0.055990

In [ ]:
# Create a list of column names to preserve
preserved_columns = ["EIF2AK3", "SF3B1", "NQO1", "SQSTM1", "MYC", "HSP70"]

# Filter the columns based on the preserved column names
filtered_columns = [col for col in arranged_table_reordered.columns if ((col.endswith(" Dep") or col.endswith(" Exp")) and col.split(" ")[0] in preserved_columns) or (not col.endswith(" Dep") and not col.endswith(" Exp"))]

# Create a new DataFrame with the filtered columns
filtered_arranged_table_02 = arranged_table_reordered[filtered_columns]

# Save the filtered_arranged_table_02 DataFrame to a CSV file
filtered_arranged_table_02.to_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table_02.csv", index=False)

filtered_arranged_table_02

,DepMap_ID,EIF2AK3 (9451) Exp,MYC (4609) Exp,NQO1 (1728) Exp,SF3B1 (23451) Exp,SQSTM1 (8878) Exp,EIF2AK3 (9451) Dep,MYC (4609) Dep,NQO1 (1728) Dep,SF3B1 (23451) Dep,SQSTM1 (8878) Dep
0,ACH-000001,4.766595,4.820690,7.322018,6.736875,7.886062,0.018546,0.807414,0.076613,1.000000,0.020657
1,ACH-000004,3.411426,8.787446,2.448901,7.089265,6.109361,0.044907,0.999985,0.061617,1.000000,0.049385
2,ACH-000005,3.925050,9.105620,3.713696,7.641474,5.591261,0.009301,1.000000,0.049535,0.994004,0.015969
3,ACH-000007,2.990955,7.170125,7.876578,6.205940,7.836808,0.058868,0.999620,0.036902,0.999886,0.041706
4,ACH-000009,4.701549,6.685800,7.612574,7.477596,7.430954,0.040590,0.979828,0.006602,0.973598,0.034535
...,...,...,...,...,...,...,...,...,...,...,...
1000,ACH-002785,4.555816,5.855990,6.590961,6.841722,6.361593,0.038095,0.701928,0.161286,1.000000,0.136197
1001,ACH-002800,4.392317,4.324811,6.670302,6.447744,7.946029,0.177952,0.462993,0.054260,1.000000,0.022899
1002,ACH-002834,4.286881,4.420213,4.854993,6.480911,7.332887,0.002074,0.911326,0.022301,0.998623,0.013754
1003,ACH-002847,3.543496,4.729009,9.859938,6.532005,9.047369,0.161273,0.704900,0.184386,0.999903,0.058351
1004,ACH-002926,3.709291,5.609991,8.146238,6.633141,8.407353,0.017135,0.963046,0.022057,0.998453,0.055990

In [ ]:
# Check if there are any missing values

import pandas as pd

# Read the CSV file
filtered_arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table.csv")

if filtered_arranged_table.isna().values.any():
    print("The DataFrame has missing values.")
else:
    print("The DataFrame does not have any missing values.")

The DataFrame does not have any missing values.

In [ ]:
# Check if there are any missing values

import pandas as pd

# Read the CSV file
filtered_arranged_table_02 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table_02.csv")

if filtered_arranged_table_02.isna().values.any():
    print("The DataFrame has missing values.")
else:
    print("The DataFrame does not have any missing values.")

The DataFrame does not have any missing values.

In [ ]:
# Check if there are any missing values

import pandas as pd

# Read the CSV file
filtered_arranged_table_modified = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table_modified.csv")

if filtered_arranged_table_modified.isna().values.any():
    print("The DataFrame has missing values.")
else:
    print("The DataFrame does not have any missing values.")

The DataFrame does not have any missing values.

In [ ]:
# Find the column names exactly matching the specified strings
target_columns = filtered_arranged_table.columns[filtered_arranged_table.columns.str.match('EIF2AK3 |SF3B1 |NQO1 |SQSTM1 |MYC |HSP70 ')]

target_columns

Index(['EIF2AK3 (9451) Exp', 'MYC (4609) Exp', 'NQO1 (1728) Exp',
       'SF3B1 (23451) Exp', 'SQSTM1 (8878) Exp', 'EIF2AK3 (9451) Dep',
       'MYC (4609) Dep', 'NQO1 (1728) Dep', 'SF3B1 (23451) Dep',
       'SQSTM1 (8878) Dep'],
      dtype='object')

In [ ]:
column_index = filtered_arranged_table.columns.get_loc(filtered_arranged_table.columns[filtered_arranged_table.columns.str.contains("EIF2AK3")][0])
print(column_index)

4481

In [ ]:
column_indices = [i for i, col in enumerate(filtered_arranged_table.columns) if "EIF2AK3" in col]
print(column_indices)

[4481, 17284]

In [ ]:
import pandas as pd

# Read the CSV file and assign it to filtered_arranged_table
filtered_arranged_table = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/filtered_arranged_table.csv")

# Subset of first 10 rows and first 10 columns
subset = filtered_arranged_table.iloc[:11, :11]

# Columns '17284' and '17285'
extra_columns = filtered_arranged_table.iloc[:11, [17284, 17285]]

# Concatenate the subsets horizontally into ML_test_table
ML_test_table = pd.concat([subset, extra_columns], axis=1)

# Save the ML_test_table DataFrame to a CSV file
ML_test_table.to_csv("/content/drive/MyDrive/Colab Notebooks/DeepDEP/ML_test_table.csv", index=False)

ML_test_table

,DepMap_ID,A1BG (1) Exp,A1CF (29974) Exp,A2M (2) Exp,A2ML1 (144568) Exp,A3GALT2 (127550) Exp,A4GALT (53947) Exp,A4GNT (51146) Exp,AAAS (8086) Exp,AACS (65985) Exp,AADAC (13) Exp,EIF2AK3 (9451) Dep,MYC (4609) Dep
0,ACH-000001,3.116032,0.056584,0.226509,0.111031,0.000000,1.035624,0.176323,5.700440,4.144046,0.790772,0.018546,0.807414
1,ACH-000004,4.178715,0.000000,0.214125,0.344828,0.070389,0.097611,0.000000,6.336819,3.231125,0.000000,0.044907,0.999985
2,ACH-000005,4.003602,0.014355,0.137504,0.014355,0.000000,0.028569,0.000000,6.337176,3.781360,0.000000,0.009301,1.000000
3,ACH-000007,0.137504,1.405992,0.201634,0.000000,0.000000,0.014355,0.000000,5.431289,4.300856,3.547203,0.058868,0.999620
4,ACH-000009,1.464668,3.586164,0.250962,0.000000,0.042644,4.525443,0.000000,5.674122,4.510962,1.985500,0.040590,0.979828
5,ACH-000011,1.035624,0.084064,0.042644,0.014355,0.000000,3.531069,0.286881,6.093814,3.758090,0.042644,0.037510,0.995092
6,ACH-000012,2.341986,0.028569,0.070389,0.014355,0.000000,2.226509,0.000000,4.799605,5.122673,0.070389,0.083734,0.999335
7,ACH-000013,2.662205,0.028569,0.084064,0.150560,0.000000,1.298658,0.298658,5.840211,4.494416,0.454176,0.031813,0.950517
8,ACH-000014,6.058749,0.042644,6.260402,0.238787,0.042644,1.226509,0.070389,5.801159,5.118941,0.028569,0.070440,0.953548
9,ACH-000015,4.808385,0.214125,3.297191,0.000000,0.000000,1.280956,0.238787,6.420718,4.139961,0.650765,0.012443,1.000000
10,ACH-000017,3.378512,0.014355,0.163499,3.260026,0.000000,0.150560,0.014355,5.372952,4.817112,0.163499,0.046988,0.998983